/* Enter your Styles below! */

body { 
    font-family: Helvetica, sans-serif;
    font-size: 16px;
     }

h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

nav a {
    float:left;
    color:#d1d3d4;
    padding-right: 10px;

}
nav {
    position: relative;
    text-align: top;
    margin-top: 1%;
    padding-bottom:300px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}

blockquote {
    margin: 20px 60px;
    font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
    color: black;
    text-decoration: none;
     }
a:hover { color: red; }


li {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    text-decoration: none;
    color:black;
}


@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}